<div class="table-agile-info">
  <div class="panel panel-default">
    <div class="panel-heading">
      New Patient History
    </div>

	<%= render 'form', patient_history: @patient_history %>

	<%= link_to 'Back', patient_histories_path %>
</div>
</div>
