<div class="table-agile-info">
  <div class="panel panel-default">
    <div class="panel-heading">
      New Patient History
    </div>

    <div class='panel-body'>
		<%= render 'form', patient_history: @patient_history %>
	</div>

	<%= link_to 'Back', patient_histories_path %>
</div>
</div>
