<div class="table-agile-info">
  <div class="panel panel-default">
    <div class="panel-heading">
      Edit Patient
    </div>

	<div class='panel-body'>
		<%= render 'form', patient: @patient %>
	</div>
</div>
</div>
