<div class="table-agile-info">
  <div class="panel panel-default">
    <div class="panel-heading">
      Verify
    </div>

	<div class='row'>
		<div class='col-md-12'>
			<p id="notice"><%= notice %></p>
			<%= form_tag '/patients/verify', method: 'post' do %>
				<div class='form-group'>
					<label>Enter Patient's Verification Code</label>
					<%= text_field_tag :verification_code, nil, class: 'form-control' %>
				</div>
				<div class='form-group'>
					<button class='btn btn-success'>Verify</button>
				</div>
			<% end %>
		</div>
	</div>
</div>
</div>